---
import { MenuProducts } from "./react/MenuProducts.tsx";
import { EventsGalery } from "./react/EventsGalery.tsx";
import { FunctionEvents } from "./react/FunctionEvents.tsx";
import {ContactForm} from "./react/ContactForm.tsx";
---

<section class="bg-gray-950 max-w-full">
   
  <MenuProducts client:load />
  <EventsGalery client:only="react" />
  <FunctionEvents client:load/>
  <ContactForm client:load/>
</section>