---
import { MenuNavbar } from "./../components/react/MenuNavbar.tsx"
---
<section  class="fixed top-0 left-0 right-0 z-50 bg-black/90 backdrop-blur-md border-b border-amber-500/20">
  <MenuNavbar client:load />
</section>